
<div class="flex items-center">
  <label class="flex items-center relative cursor-not-allowed opacity-50" for="disabled-checkbox">
    <input type="checkbox" disabled class="peer h-5 w-5 cursor-not-allowed transition-all appearance-none rounded shadow-sm border border-stone-200 checked:bg-stone-800 checked:border-stone-800" id="disabled-checkbox" />
    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <svg stroke-width="1.5" class="w-3.5 h-3.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff">
        <path d="M5 13L9 17L19 7" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </span>
  </label>
  <label class="cursor-not-allowed ml-2 text-stone-800 text-sm opacity-50" for="disabled-checkbox">Disabled Checkbox</label>
</div>
