
<div class="flex w-full flex-col">
  <div class="relative flex gap-4">
    <div class="relative">
      <div class="absolute left-1/2 top-5 h-full w-0.5 -translate-x-1/2 bg-stone-200"></div>
      <span class="relative grid h-10 w-10 place-items-center rounded-full bg-stone-200 text-surface-foreground p-0.5">
        <img src="https://dub.sh/TdSBP0D" alt="Avatar" class="inline-block object-cover object-center rounded-full h-full w-full" />
      </span>
    </div>
    <div class="flex-1 mb-10">
      <p class="text-base font-bold text-stone-800 dark:text-white">Timeline Title Here.</p>
      <small class="mt-2 block text-sm text-stone-500">The key to more success is to have a lot of pillows. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I'm never giving up, I'm just getting started. I'm up to something. Fan luv.</small>
    </div>
  </div>

  <div class="relative flex gap-4">
    <div class="relative">
      <div class="absolute left-1/2 top-5 h-full w-0.5 -translate-x-1/2 bg-stone-200"></div>
      <span class="relative grid h-10 w-10 place-items-center rounded-full bg-stone-200 text-surface-foreground p-0.5">
        <img src="https://dub.sh/TdSBP0D" alt="Avatar" class="inline-block object-cover object-center rounded-full h-full w-full" />
      </span>
    </div>
    <div class="flex-1 mb-10">
      <p class="text-base font-bold text-stone-800 dark:text-white">Timeline Title Here.</p>
      <small class="mt-2 block text-sm text-stone-500">The key to more success is to have a lot of pillows. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I'm never giving up, I'm just getting started. I'm up to something. Fan luv.</small>
    </div>
  </div>

  <div class="relative flex gap-4">
    <div class="relative">
      <span class="relative grid h-10 w-10 place-items-center rounded-full bg-stone-200 text-surface-foreground p-0.5">
        <img src="https://dub.sh/TdSBP0D" alt="Avatar" class="inline-block object-cover object-center rounded-full h-full w-full" />
      </span>
    </div>
    <div class="flex-1">
      <p class="text-base font-bold text-stone-800 dark:text-white">Timeline Title Here.</p>
      <small class="mt-2 block text-sm text-stone-500">The key to more success is to have a lot of pillows. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I'm never giving up, I'm just getting started. I'm up to something. Fan luv.</small>
    </div>
  </div>
</div>
