
<div class="flex gap-2">
  <div class="flex items-center gap-2">
    <label class="flex items-center cursor-pointer relative" for="custom-html">
      <input type="radio" name="framework" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-md shadow-sm hover:shadow border border-stone-200 checked:bg-stone-800 checked:border-stone-800" id="custom-html" />
      <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <svg stroke-width="1.5" class="w-3.5 h-3.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff">
          <path d="M5 13L9 17L19 7" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </span>
    </label>
    <label for="custom-html" class="font-sans antialiased text-base text-stone-600">HTML</label>
  </div>
  <div class="flex items-center gap-2">
    <label class="flex items-center cursor-pointer relative" for="custom-react">
      <input type="radio" name="framework" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-md shadow-sm hover:shadow border border-stone-200 checked:bg-stone-800 checked:border-stone-800" id="custom-react" />
      <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <svg stroke-width="1.5" class="w-3.5 h-3.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff">
          <path d="M5 13L9 17L19 7" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </span>
    </label>
    <label for="custom-react" class="font-sans antialiased text-base text-stone-600">React</label>
  </div>
</div>
