
<div class="flex gap-2">
  <div class="flex items-center gap-2">
    <label class="flex items-center cursor-not-allowed relative" for="disabled-html">
      <input type="radio" name="framework" disabled checked class="peer h-5 w-5 cursor-not-allowed transition-all appearance-none rounded-full shadow-sm border border-stone-200 checked:bg-stone-800/50 checked:border-stone-800/50 opacity-50" id="disabled-html" />
      <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="6" cy="6" r="4" fill="currentColor"/>
        </svg>
      </span>
    </label>
    <label for="disabled-html" class="font-sans antialiased text-base text-stone-600/50">HTML</label>
  </div>
  <div class="flex items-center gap-2">
    <label class="flex items-center cursor-not-allowed relative" for="disabled-react">
      <input type="radio" name="framework" disabled class="peer h-5 w-5 cursor-not-allowed transition-all appearance-none rounded-full shadow-sm border border-stone-200 checked:bg-stone-800/50 checked:border-stone-800/50 opacity-50" id="disabled-react" />
      <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="6" cy="6" r="4" fill="currentColor"/>
        </svg>
      </span>
    </label>
    <label for="disabled-react" class="font-sans antialiased text-base text-stone-600/50">React</label>
  </div>
</div>
