
<div class="flex flex-col gap-2">
  <div class="flex items-center gap-2">
    <label class="flex items-center cursor-pointer relative" for="radio-link-agree">
      <input type="radio" name="terms" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-stone-200 checked:bg-stone-800 checked:border-stone-800" id="radio-link-agree" />
      <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="6" cy="6" r="4" fill="currentColor"/>
        </svg>
      </span>
    </label>
    <label for="radio-link-agree" class="font-sans antialiased text-base flex gap-1 text-stone-600">I agree with the
      <a href="#" class="font-sans antialiased text-base text-stone-800 underline">terms and conditions</a>
    </label>
  </div>
  <div class="flex items-center gap-2">
    <label class="flex items-center cursor-pointer relative" for="radio-link-disagree">
      <input type="radio" name="terms" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-stone-200 checked:bg-stone-800 checked:border-stone-800" id="radio-link-disagree" />
      <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="6" cy="6" r="4" fill="currentColor"/>
        </svg>
      </span>
    </label>
    <label for="radio-link-disagree" class="font-sans antialiased text-base flex gap-1 text-stone-600">I disagree with the
      <a href="#" class="font-sans antialiased text-base text-stone-800 underline">terms and conditions</a>
    </label>
  </div>
</div>
