
<div class="flex flex-col gap-4">
  <div class="flex gap-2">
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="stone1">
        <input type="radio" name="stone" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-stone-200 checked:bg-stone-800 checked:border-stone-800" id="stone1" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="stone2">
        <input type="radio" name="stone" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-stone-200 checked:bg-stone-800 checked:border-stone-800" id="stone2" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
  </div>
  <div class="flex gap-2">
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="blue1">
        <input type="radio" name="blue" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-blue-200 checked:bg-blue-500 checked:border-blue-500" id="blue1" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="blue2">
        <input type="radio" name="blue" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-blue-200 checked:bg-blue-500 checked:border-blue-500" id="blue2" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
  </div>
  <div class="flex gap-2">
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="green1">
        <input type="radio" name="green" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-green-200 checked:bg-green-500 checked:border-green-500" id="green1" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="green2">
        <input type="radio" name="green" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-green-200 checked:bg-green-500 checked:border-green-500" id="green2" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
  </div>
  <div class="flex gap-2">
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="amber1">
        <input type="radio" name="amber" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-amber-200 checked:bg-amber-500 checked:border-amber-500" id="amber1" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="amber2">
        <input type="radio" name="amber" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-amber-200 checked:bg-amber-500 checked:border-amber-500" id="amber2" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
  </div>
  <div class="flex gap-2">
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="red1">
        <input type="radio" name="red" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-red-200 checked:bg-red-500 checked:border-red-500" id="red1" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
    <div class="flex items-center gap-2">
      <label class="flex items-center cursor-pointer relative" for="red2">
        <input type="radio" name="red" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded-full shadow-sm hover:shadow border border-red-200 checked:bg-red-500 checked:border-red-500" id="red2" />
        <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <svg class="w-3 h-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="4" fill="currentColor"/>
          </svg>
        </span>
      </label>
    </div>
  </div>
</div>
